{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="background-color: lightyellow; ">
        <div class="col col-3 "><br></div>
        <div class="col col-6 ">
            <br>
            <div class="container text-center text-dark">
                <img src="{% static "images/logoNew1.png" %}" width="140px" height="120px">
                <br><br>
                <h3 class="text-center "> ลงทะเบียนสินค้า </h3>
                <form method="POST">
                    {% csrf_token %}
                    <div style="font-size: 18px" align="left">
                        {{ form.as_table }}<br>
                        <br>
                    </div>
                    <div align="right">
                        <input type="submit" value="บันทึก" class="btn btn-success">
                        <input type="reset" value="รีเซ็ท" class="btn btn-warning">
                        <a onclick="history.back();" class="btn btn-danger">
                            <i class="fas fa-backward"></i> ยกเลิก
                        </a>
                    </div>
                </form>
            </div>
            <br><br><br><br><br><br><br>
        </div>
        <div class="col col-3"><br></div>
    </div>
{% endblock %}