{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><br><br>
    <div class="row">
        <div class="col col-3 "><br></div>
        <div class="col col-6 ">
            <br>
            <div class="container text-center text-dark">
                <h3 class="text-center "> เปลี่ยนรหัสผ่านบัญชีผู้ใช้ </h3>
                <form method="POST">
                    {% csrf_token %}
                    <div style="font-size: 18px" align="left">
                        {{ form.as_table }}<br>
                    </div>
                    <div align="right">
                        <button type="submit" class="btn btn-success">ยืนยัน</button>
                        <a onclick="history.back();" class="btn btn-danger">ยกเลิก</a>
                        <br><br><br><br><br><br><br><br><br><br>
                        {% if messages|length > 0 %}
                            <tr>
                                <td colspan="2" class="text-center">
                                    {% for message in messages %}
                                        <b class="text-danger"> {{ message | safe }} </b>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}