{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load humanize %}
    <br>
    <div class="row  text-center">
        <h1 class="text-center text-dark "> ลบข้อมูลพนักงาน </h1>
        <h2 class="text-white">...................................................</h2>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
                        <table class="table table-warning table-striped " style="font-size: 20px"><br>
                <tr>
                    <td align="right">ชื่อ - สกุล :</td>
                    <td align="left">{{ employee.name }}</td>
                </tr>
                <tr>
                    <td align="right">เพศ :</td>
                    <td align="left">{{ employee.gender }}</td>
                </tr>
                <tr>
                    <td align="right">วันเกิด :</td>
                    <td align="left">{{ employee.birthdate }}</td>
                </tr>
                <tr>
                    <td align="right">ที่อยู่ :</td>
                    <td align="left">{{ employee.address }}</td>
                </tr>
                <tr>
                    <td align="right">เบอร์โทรศัพท์ :</td>
                    <td align="left">{{ employee.tel }}</td>
                </tr>
                <tr>
                    <td align="right">Username :</td>
                    <td align="left">{{ employee.eid }}</td>
                </tr>
            </table>
            <a onclick="history.back();" class="btn btn-warning">
                <i class="fas fa-backward"></i> ย้อนกลับ
            </a>
            <a href="{% url 'deleteEmp' employee.eid  %}" onclick="return confirm('โปรดยืนยันการลบข้แมูล');">
                <button class="btn btn-success">
                    ลบข้อมูล <i class="fas fa-trash"></i>
                </button>
            </a>
            <div class="col-lg-3"></div>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
{% endblock %}