{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load humanize %}
    <br>
    <div class="row  text-center">
        <h1 class="text-center text-dark "> ข้อมูลสาขา </h1>
        <h2 class="text-white">...................................................</h2>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <table class="table table-warning table-striped " style="font-size: 20px"><br>
                <tr>
                    <td align="right">รหัสสาขา :</td>
                    <td align="left">{{ branch.branch_id }}</td>
                </tr>
                <tr>
                    <td align="right">สาขา :</td>
                    <td align="left">{{ branch.name }}</td>
                </tr>
                <tr>
                    <td align="right">ที่ตั้ง :</td>
                    <td align="left">{{ branch.location }}</td>
                </tr>
                <tr>
                    <td align="right">เบอร์โทรศัพท์ :</td>
                    <td align="left">{{ branch.tel }}</td>
                </tr>
            </table>
            <a onclick="history.back();" class="btn btn-warning">
                <i class="fas fa-backward"></i> ย้อนกลับ
            </a>
            <div class="col-lg-3"></div>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
{% endblock %}