{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row" align="center">
        <div class="row">
            <h3><br>ศูนย์ข่าวประชาสัมพันธ์</h3>
        </div>
        <div class="col-lg-3">
            <br>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static "images/มทร.png" %}" alt="Card image">
                <div class="card-body" align="left">
                    <h4 class="card-title"> แนะนำมหาวิทยาลัย </h4>
                    <p class="card-text"> มหาวิทลัยน่าศึกษาต่อ.. <br><br>
                        <a href="https://www.kkc.rmuti.ac.th/2017/" target="_blank"
                           class="btn btn-secondary"><u>อ่านต่อ</u></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <br>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static "images/ไฟฟ้า.jpg" %}" alt="Card image">
                <div class="card-body " align="left">
                    <h4 class="card-title"> กกพ. ชี้แนวโน้มค่าไฟ 66 </h4>
                    <p class="card-text">กกพ.เปิดแนวโน้มไฟฟ้างวดต่อไป พ.ค.-ส.ค. 66 <br>
                        <a href="https://workpointtoday.com/news-214/" target="_blank"
                           class="btn btn-secondary"><u>อ่านต่อ</u></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <br>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static "images/น้ำมัน.jpg" %}" alt="Card image">
                <div class="card-body" align="left">
                    <h4 class="card-title"> เช็คราคาน้ำมัน !! </h4>
                    <p class="card-text"> ราคาน้ำมันวันนี้<br>
                        อัปเดตล่าสุด<br>
                        <a href="http://gasprice.kapook.com/gasprice.php" target="_blank"
                           class="btn btn-secondary"><u>อ่านต่อ</u></a>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-3">
            <br>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static "images/น้ำมัน2.jpg" %}" alt="Card image">
                <div class="card-body" align="left">
                    <h4 class="card-title"> รัฐไม่แก้ ประชาชนแก้เอง! </h4>
                    <p class="card-text"> สหพันธ์ขนส่งทางบก จัดกิจกรรม Season 3 หลังรัฐไม่แก้น้ำมันแพง<br>
                        <a href="https://www.khaosod.co.th/economics/news_6796616" target="_blank"
                           class="btn btn-secondary"><u>อ่านต่อ</u></a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>

{% endblock %}