{% extends 'base.html' %}
{%load static%}
{% block content %}

    <div class="row">
            <h2 class="text-center display-10" style="background-color:#feff06"><b><u>คำถามที่พบบ่อย</u></b></h2>

    </div>
{##}
{#     <h2 class="bg-primary text-white align-items-center">Educations</h2>#}
        <table class="table table-hover" style="background-color:#f9ff66">
            <tr>
                <td width="30%">ส่งพัสดุกับ Fast Express ได้อย่างไรบ้าง      ?     : </td>
                <td width="70%">เพียงแพ็คพัสดุของคุณให้พร้อมและส่งพัสดุผ่านสาขาใกล้บ้าน</td>
            </tr>
            <tr>
                <td>ค่าบริการขนส่งสำหรับพื้นที่ห่างไกลมีค่าใช้จ่ายเพิ่มเท่าไหร่    ? : </td>
                <td>สำหรับลูกค้าทั่วไปที่ต้องการขนส่งไปยัง พื้นที่ห่างไกล(อำเภอภูผาม่านและอำเภอสีชมพู)<br>จะมีค่าใช้จ่ายเพิ่มขั้นต่ำ 30 บาท</td>
            </tr>
            <tr>
                <td>ใช้ระยะเวลากี่วันในการจัดส่ง ?  :</td>
                <td>ใช้เวลาจัดส่งประมาณ 1-2 วันเท่านั้น</td>
            </tr>
            <tr>
            <td>Fast Express ปิดรับพัสดุกี่โมง ? : </td>
            <td>Fast express เปิดให้บริการ ตั้งแต่ 9:00-17:00น.</td>
            </tr>
            <tr>
            <td>พัสดุต้องห้ามที่ไม่สามารถส่งกับ Fast Express มีอะไรบ้าง   ?  : </td>
            <td>สามารถตรวจสอบได้ผ่านทางลิงค์ <li class="list-group-item"><a href="{% url 'warning' %}">here</a></li>
            </td>
            </tr>
            <tr>
            <td>ควรเตรียมพัสดุก่อนจัดส่งอย่างไร  ?  : </td>
            <td>วิธีเตรียมพัสดุก่อนจัดส่งมีดังนี้<br>

                (1) เลือกกล่องที่มีขนาดเหมาะสมกับพัสดุ<br>
                (2) ให้นำพัสดุที่ต้องการจัดส่งมาห่อด้วยพลาสติกกันกระแทกอีกครั้ง<br>เพื่อป้องกันมิให้พัสดุที่ต้องการจัดส่งได้รับความเสียหาย<br>
                (3) ใช้กระดาษหรือพลาสติกกันกระแทกในการแยกพัสดุให้เป็นสัดส่วน<br>ใช้วัสดุอย่างอื่นมาใส่ให้เต็มกล่องเพื่อยึดพัสดุของเราให้อยู่กับที่<br>
                (4) กรอกข้อมูลพัสดุและที่อยู่ให้ถูกต้องครบถ้วน <br>เช่น รหัสไปรษณีย์  ที่อยู่ผู้ส่ง ที่อยู่ผู้รับ เบอร์โทร และข้อมูลอื่นๆ      </td>
            </tr>
        </table>
<br><br><br><br><br><br>
{% endblock %}